{% extends 'base.html' %} {% block title %} Login - Staff Only {% endblock %}
{% block content %}

<div class="my-5 p-5">
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="faculty" class="form-label"
        >Choose Faculty</label
      >
      <select class="form-select" id='faculty' name="username" aria-label="Default select example">
        <option selected>Faculty</option>
        <option value="Warden">Warden</option>
        <option value="Chief Warden">Chief Warden</option>
        <option value="Head Office">Head Office</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label"
        >Password</label
      >
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="password"
      />
    </div>
    <button class="btn btn-primary my-3">Login</button>
  </form>
</div>

{% load static %} {% endblock %}
