{% extends 'base.html' %} {% block title %} Signup - Staff Only {% endblock %}
{% block content %}

<div class="my-5 p-5">
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        placeholder="Username"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label"
        >Password</label
      >
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="password"
      />
    </div>
    <button class="btn btn-primary my-3">Login</button>
  </form>
</div>

{% load static %} {% endblock %}