{% extends 'base.html' %}

{% block title %} Complaints assigned to you {% endblock %}

{% block content %}

<div class="p-3">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Discription</th>
            <th scope="col">Status</th>
            <th scope="col">Assigned To</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for complaint in complaints %}
          <tr>
            <th scope="row">{{ complaint.complaint_id }}</th>
            <td>{{ complaint.title }}</td>
            <td>{{ complaint.discription }}</td>
            <td class="fw-semibold {% if complaint.status != 'Resolved' %} text-danger {% else %} text-success  {% endif %}">{{ complaint.status }}</td>
            <td>@{{ complaint.faculty }}</td>
            <td>@{{ complaint.pub_date }}</td>
            <td>
                <!-- Add a button to delete the complaint -->
                <form method="post" action="{% url 'resolve_complaint' complaint.complaint_id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn {% if complaint.status != 'Resolved' %} btn-danger {% else %} btn-success  {% endif %}">{% if complaint.status != 'Resolved' %} Mark as Resolved {% else %} Mark as Pending  {% endif %}</button>
                </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>



{% load static %}

    
   
{% endblock %}